@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #0000007f;
    --global-bg-2: #5dcd6219;
    --global-bg-3: #5dcd6226;
    --global-bg-4: #cacacd33;
    --global-bg-5: #f4f4f5;
    --global-bg-6: #fafafa;
    --global-bg-7: #fcfafa;
    --global-bg-8: #ffffff;
    --global-bg-9: #ffffff19;
    --global-bg-10: #ffffff33;

    --global-text-1: #000000;
    --global-text-2: #0854e6;
    --global-text-3: #484848;
    --global-text-4: #858585;
    --global-text-5: #ffffff;

    /* Button Colors */
    --button-text-1: #26b02d;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Account for fixed header height + some padding */
  }
}

@layer utilities {

  /* Global Backgrounds */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }

  .bg-global-2 {
    background-color: var(--global-bg-2);
  }

  .bg-global-3 {
    background-color: var(--global-bg-3);
  }

  .bg-global-4 {
    background-color: var(--global-bg-4);
  }

  .bg-global-5 {
    background-color: var(--global-bg-5);
  }

  .bg-global-6 {
    background-color: var(--global-bg-6);
  }

  .bg-global-7 {
    background-color: var(--global-bg-7);
  }

  .bg-global-8 {
    background-color: var(--global-bg-8);
  }

  .bg-global-9 {
    background-color: var(--global-bg-9);
  }

  .bg-global-10 {
    background-color: var(--global-bg-10);
  }

  /* Global Text Colors */
  .text-global-1 {
    color: var(--global-text-1);
  }

  .text-global-2 {
    color: var(--global-text-2);
  }

  .text-global-3 {
    color: var(--global-text-3);
  }

  .text-global-4 {
    color: var(--global-text-4);
  }

  .text-global-5 {
    color: var(--global-text-5);
  }

  /* Button Text Colors */
  .text-button-1 {
    color: var(--button-text-1);
  }
}